BODY,HTML {
    margin: 0;
    padding: 0;
}
.card {
    page-break-inside: avoid;
    float: left;
    font-family: sans-serif;
    font-size: 4mm;
    width: 63mm;
    height: 88mm;
    background: black;
    padding: 4mm;
    box-sizing: border-box;
    border-radius: 2mm;
    overflow: hidden;
    position: relative;
    margin-right: 1px;
    margin-bottom: 1px;

}

.cardArt {
    background: url(../img/cardback_gray.png);
    background-size: contain !important;
    height: 100%;
    padding: 3mm;
    box-sizing: border-box;
    position: relative;
    overflow: visible;

    display: flex;
    flex-direction: column;
}

/* TOP */

h1 {
    /*width: 100%;*/
    background: rgba(255,255,255,0.9);
    font-size: 1em;
    margin: 0;
    border-radius: 1mm;
    border: 1px solid black;
    padding: .5mm 1mm;

}

header .faction_icon {
    background-image: url(../img/faction_unaligned.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 6mm;
    height: 6mm;
    position: absolute;
    right: -3mm;
    top: -2mm;
    margin-top: -1mm;
    margin-left:1mm;
    z-index: 1;

    flex-grow: 0;
}

/* Side */
aside.costs {
    position: absolute;
    left: -3mm;
    top: 9mm;
    font-weight: bold;
    text-align: center;
    line-height: 5mm;
    font-size: 3mm;
}
.circle {
    border-radius: 2.5mm;
    width: 5mm;
    margin-bottom: 1mm;
    border: 1px solid white;
    box-shadow: 0 0 2px black;
    padding-top: 3.5mm;
    box-sizing: border-box;

    background-size: 3mm;
    background-position: center 1mm;
    background-repeat: no-repeat;

}
.beat {
    background-color: #c51e00;
    /*color: #c51e00;*/
    border-color: #c51e00;

    background-image: url(../img/knife.png);
 }

.buy {
    background-color: greenyellow;
    /*color: greenyellow;*/
    border-color: greenyellow;
    background-image: url(../img/cigarette.png);
}
.repGain {
    background-color: yellow;
    /*color: yellow;*/
    border-color: yellow;
    background-image: url(../img/star.png);
}
.value {
    background-color: greenyellow;
    /*color: greenyellow;*/
    border-color: greenyellow;
    background-image: url(../img/cigarette.png);
}
.repStar{
    clear: both;
    width: 4mm;
}
/* Art */
section.artWork {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30mm;
    max-height: 35mm;
    background: white;
    border-radius: 1mm;
    border: 1px solid black;

    text-align: center;

    margin-top: 1mm;
    position: relative;
    background-size: cover;
}

.artWork img{
    max-width: 100%;
    max-height: 35mm;

    /*border-radius: 1mm;*/
    /*border: 1px solid black;*/
}

.typeDescription {
    background: white;
    font-size: .8em;
    font-weight: bold;
    display: inline-block;
    padding: .3mm .8mm;
    border: 1px solid black;
    border-radius: .4em;
    position: absolute;
    left: -1mm;
    bottom: -2.5mm;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    text-transform: lowercase;

}
.typeDescription:first-letter {
    text-transform: capitalize;
}

/* Rules */
section.rules {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: .8;

    background: rgba(255,255,255,0.9);
    font-size: .7em;
    border-radius: 1mm;
    border: 1px solid black;
    padding: 2mm 1mm;
    margin-top: 1mm;
    flex-grow: 1;
    flex-basis: content;
}

.rules > section {
    margin-bottom: .3mm;
    background-size: 4mm;
    background-repeat: no-repeat;
    background-position: left .6mm;
    padding: .8mm .5mm .8mm 5.5mm;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.rules > section:last-child {
    border-bottom: none;
}

.rules .loot {
    background-image: url(../img/skull.png);
    background-color: rgba(250,0,0,0.1);
}
.rules .assemble, .rules .ability {
    padding-left: .3mm;
    /*background-image: url(../img/action.png);*/
    /*background-color: rgba(100,100,100,0.1);*/
}
.rules .additionalCost {
    font-weight: bold;
    background-image: url(../img/trade.png);
    background-color: rgba(100,250,100,0.1);
}
.rules .parts {
    background-image: url(../img/parts.png);
    background-color: rgba(100,250,100,0.1);
}
.rules .materialType {
    padding-left: .3mm;
    font-weight: bold;
}

/* Footer */

footer {
    font-size: .5em;
    color: #ccc;
    position: absolute;
    bottom: -3.5mm;
    right: .3mm;
}

/* Icons */
.icon {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -.2em;
}

.icon.power {
    background-image: url(../img/knife.png);
}

.icon.cigg {
    background-image: url(../img/cigarette.png);
}

/* Type specifics */
.UNALIGNED  .faction_icon {
    background-image: url(../img/faction_unaligned.png);
}
.UNALIGNED .cardArt {
    background: url(../img/cardback_white.png);
}

.ASIAN .faction_icon {
    background-image: url(../img/faction_asian.png);
}
.ASIAN .cardArt {
    background: url(../img/cardback_yellow.png);
}

.BLACK  .faction_icon {
    background-image: url(../img/faction_black.png);
}
.BLACK .cardArt {
    background: url(../img/cardback_brown.png);
}

.WHITE  .faction_icon {
    background-image: url(../img/faction_whitesup.png);
}
.WHITE .cardArt {
    background: url(../img/cardback_red.png);
}

.LATINO  .faction_icon {
    background-image: url(../img/faction_latino.png);
}
.LATINO .cardArt {
    background: url(../img/cardback_orange.png);
}

.GUARD .faction_icon {
    background-image: url(../img/faction_guard.png);
}
.GUARD .cardArt {
    background: url(../img/cardback_blue.png);
}

.CONTRABAND .cardArt {
    background: url(../img/cardback_ciggs.png);
}
.CONTRABAND.MATERIAL .cardArt {
    background: url(../img/cardback_material.png);
}
.CONTRABAND.PLAN .cardArt {
    background: url(../img/cardback_plan.png);
}

.WEAPON .cardArt {
    background: url(../img/cardback_green.png);
}

.FAVOUR .cardArt {
    background: url(../img/cardback_pink.png);
}